div.aboutContainer {
  row-gap: 2rem;
  text-align: center;
}
.aboutSubtitle {
  margin-bottom: var(--m-2);
}
.aboutImg {
  justify-self: center;
}
.aboutImg img {
  width: 200px;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  div.aboutContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .aboutImg img {
    width: 300px;
  }
}
