.footer {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footerTitle {
  font-size: 2rem;
  margin-bottom: var(--m-4);
}
.footerSocial {
  margin-bottom: var(--m-4);
}
.footerIcon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--m-2);
}
