div.workContainer {
  row-gap: 2rem;
}
.workImg {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.workImg img {
  transition: 1s;
  cursor: pointer;
}
.workImg img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  div.workContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
